.work
	font-family $opensans
	padding-top 92px
	padding-bottom 70px
	offset-section()

	&__wrapper
		wrapper()

	&__title
		color #222
		font-size 44px
		line-height (44/44)
		text-transform uppercase
		font-weight 300
		text-align center
		position relative
		decor()
		margin-bottom 52px

		+below(1024px)
			font-size 40px
			margin-bottom 60px

		+below(768px)
			font-size 36px
			margin-bottom 50px

		& span
			font-weight 600

	&__subtitle
		color #6c6c6c
		font-size 16px
		font-style italic
		line-height (24/16)
		text-align center
		margin-bottom 105px

		+below(1024px)
			font-size 15px
			margin-bottom 60px

		+below(768px)
			font-size 14px
			margin-bottom 40px

	&__button
		display none
		width 150px
		height 40px
		border 1px solid rgba(0, 0, 0, .5px)
		line-height (40 / 12)
		color #616161
		font-size 12px
		font-weight 600
		letter-spacing .3px
		text-transform uppercase
		text-decoration none
		text-align center
		border-radius 3px
		transition all .3s
		background-color transparent
		margin 0 auto
		position relative
		top -10px

		&:hover
		&:active
			opacity .7

		+below(400px)
			display block
