// cuprum = Cuprum, sans-serif
$lato = Lato, sans-serif
$opensans = 'Open Sans', sans-serif
// $opensansbold = 'open_sansbold', sans-serif

@font-face
	font-family 'Gotham Book'
	src local('Gotham Book'),
		url('../fonts/gotham-book-webfont.woff2') format('woff2'),
		url('../fonts/gotham-book-webfont.woff') format('woff')
	font-weight 400
	font-style normal
// @font-face
// 	font-family 'open_sanslight'
// 	src local('open_sanslight'),
// 		url('../fonts/OpenSans-Light-webfont.woff') format('woff')
// 	font-weight normal
// 	font-style normal
// @font-face
// 	font-family 'open_sansbold'
// 	src local('open_sansbold'),
// 		url('../fonts/OpenSans-Light-webfont.woff') format('woff')
// 	font-weight normal
// 	font-style normal

