$arrow = 11.7px 12.3px
$briefcase = 13px 11px
$camera = 56px 45px
$dribbble = 30px 30px
$facebook = 31px 31px
$google = 30px 30px
$linkedin = 30px 30px
$list-circle = 14px 14px
$megaphone = 47px 54px
$menu = 66px 66px
$plus = 40px 40px
$screen = 54px 54px
$smartphone = 33px 54px
$twitter = 31px 31px


svgSize($icon)
	width $icon[0]
	height $icon[1]