.social
	padding-top 10px

	&__link
		display inline-block
		vertical-align top
		width 30px
		height 30px
		margin-left 11px

		&:hover
		&:focus
		&:active
			transform: scale(1.05)

	&__link-icon
		svgSize($dribbble)
		fill #b2b2b2

		&:hover
			transform: scale(1.05)
			fill #fcac45

