include ../form/form

mixin contact()
	+b('section').contact&attributes(attributes)
		.contact__wrapper
			h2.contact__title Feel free to #[span contact us]
			p.contact__subtitle
				| Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
			+form

