.clients
	background-color #0b0b0b
	font-family $opensans
	padding-top 93px
	padding-bottom 99px
	offset-section()

	&__wrapper
		wrapper(975px)

	&__title
		color #fff
		font-size 44px
		line-height (44/44)
		text-transform uppercase
		font-weight 300
		text-align center
		margin-bottom 107px
		position relative
		decor()

		+below(1024px)
			font-size 40px
			margin-bottom 90px

		+below(768px)
			font-size 36px
			margin-bottom 80px

		& span
			font-weight 600

slider-usage('.clients', 112px)

.clients__item
	top 5px
	text-align center
